.summary {
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  font-family: "Roboto", sans-serif;
  word-wrap: break-word;
}

.about-links {
  transition: 0.4s ease;
  text-decoration: none;
  font-weight: 900;
  color: red;
}
.about-links::after {
  display: block;
  width: 0;
  height: 2px;
  background: white;
}
.about-links:hover {
  color: black;
  transition: 0.3s;
}

@media (max-width: 1200px) {
  .summary {
    font-size: 0.85rem;
  }
}

@media (max-width: 800px) {
  .summary {
    font-size: 0.8rem;
  }
}

@media (max-width: 700px) {
  .summary {
    font-size: 0.76rem;
  }
}

@media (max-width: 600px) {
  .summary {
    font-size: 0.72rem;
  }
}
