.section-container.contact {
  background: black;
  color: white;
}

.section-grid-contact {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 2fr);
}

.contact-icon {
  margin-top: 100px;
  width: 100px;
  filter: invert(100%);
  transition: 0.2s ease;
}

.contact-icon:hover {
  transform: scale(1.2);
}
