.navbar {
  background-color: white;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  height: 2.5em;
  z-index: 9999;
  opacity: 1;
}

.navbar-content {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr 1fr;
}

.nav-link {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  margin-top: 5px;
  color: #000;
  margin-left: 20px;
  transition: 0.2s;
}

.nav-link.logo {
  font-family: "Varela Round", sans-serif;
}

.fullstop {
  color: red;
}

.nav-link:hover {
  color: red;
  cursor: default;
}

.nav-items > .active {
  color: red;
}

@media screen and (min-width: 600px) {
  .navbar-button {
    display: none;
  }
}
