.navbar {
  background-color: white;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  height: 2em;
  z-index: 9999;
  opacity: 1;
}

.navbar-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.navbar-logo-container {
  display: flex;
}

.nav-link.logo > .fullstop {
  transition: 0.2s;
}

.nav-link.logo:hover > .fullstop {
  color: #000;
}

.navbar-link-container {
  display: flex;
  justify-content: space-evenly;
}

.nav-link {
  text-decoration: none;
  font-family: "Varela Round", sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding: 5px;
  color: #000;
  margin-left: 20px;
  transition: 0.2s;
}

.fullstop {
  color: red;
}

.nav-link:hover {
  color: red;
  cursor: default;
}

@media screen and (min-width: 600px) {
  .navbar-button {
    display: none;
  }
}
