.section-container.projects {
  height: 1000px;
}

.section-grid-projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1%;
}

.project-card-link {
  text-decoration: none;
  color: black;
  border-radius: 50px;
  transition: 0.2s;
}

.project-card-link:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.project-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 1.5%;
}

.project-card-img {
  border-radius: 50px;
  width: 200px;
  height: 200px;
}

.project-card-title {
  font-family: "Varela Round", sans-serif;
}

.project-card-technologies {
  display: flex;
}

.project-card-logo {
  width: 40px;
  margin: 2%;
}

@media (max-width: 600px) {
  .section-container.projects {
    height: 1100px;
  }

  .section-grid-projects {
    grid-gap: 3%;
  }
  .project-card-link {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  }

  .project-card {
    display: grid;
    grid-template-columns: 1fr;
    padding: 15px;
  }

  .project-card-img {
    justify-self: center;
    align-self: center;
    border-radius: 25px;
    width: 75px;
    height: 75px;
  }

  .project-card-title {
    font-size: 1.5rem;
  }

  .project-card-summary {
    font-size: 1rem;
  }

  .project-card-logo {
    width: 20px;
  }
}
