.section-container.skills {
  background: black;
  color: white;
}

.section-grid-skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 0px 20%;
  justify-items: center;
  align-items: center;
}

@media (max-width: 600px) {
  .section-grid-skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    grid-gap: 0px 20%;
    justify-items: center;
  }
}
