.section-container {
  box-sizing: border-box;
  padding: 164px;
  width: 100%;
  height: auto;
}

.section-header {
  font-family: "Varela Round", sans-serif;
  font-size: 4rem;
}

@media screen and (max-width: 700px) {
  .App {
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .section-header {
    font-size: 3rem;
  }
}

@media screen and (max-width: 700px) {
  .App {
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .section-header {
    font-size: 3rem;
  }
}
