.App {
  display: flex;
  flex-direction: column;
}

.homepage-container {
  position: relative;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding: 30px;
  background-color: #df1233;
  margin-bottom: 100px;
}

.homepage-container:after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top left;
  transform: skewY(4.2deg);
  z-index: -1;
}

.homepage-title {
  font-size: 4rem;
  color: #141c2a;
  text-align: right;
}

.summary-text {
  font-size: 20px;
  font-weight: bold;
  color: #141c2a;
  text-align: right;
}

.projects-container {
  position: relative;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding: 30px;
  background-color: white;
  margin-bottom: 100px;
}

.projects-container:after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transform: skewY(-4deg);
  z-index: -1;
}

.projects-title {
  font-size: 4rem;
  color: #141c2a;
  text-align: left;
}

.projects-grid {
  display: grid;
  grid-template-columns: 0.25fr 0.5fr 0.5fr;
  grid-gap: 10px;
}

.project-image {
  width: 100%;
  border-radius: 50%;
}

.overlay {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.movie-poster:hover .movie-image {
  opacity: 0.3;
}

.movie-poster:hover .overlay {
  opacity: 0.8;
}

.text-box {
  background-color: none;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.skills-container {
  position: relative;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding: 30px;
  background-color: #df1233;
  margin-bottom: 100px;
}

.skills-container:before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: bottom left;
  transform: skewY(5deg);
  z-index: -1;
}

.skills-container:after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top left;
  transform: skewY(-4deg);
  z-index: -1;
}

.skills-title {
  font-size: 4rem;
  color: #141c2a;
  text-align: right;
}

.contact-container {
  position: relative;
  width: 100%;
  height: 75vh;
  box-sizing: border-box;
  padding: 30px;
  background-color: white;
  margin-bottom: 100px;
}

.contact-container:after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: 100%;
  transform: skewY(4deg);
  z-index: -1;
}

.contact-title {
  font-size: 4rem;
  color: #141c2a;
  text-align: left;
}
