.section-container.homepage {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  background-color: black;
}

.portfolio-image {
  margin-top: 5%;
  height: 20rem;
  border-radius: 50%;
}

.header {
  color: white;
  font-size: 3rem;
  font-family: "Varela Round", sans-serif;
}
