.section-container.homepage {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  background-color: black;
}

.portfolio-image {
  margin-top: 5%;
  height: 20rem;
  border-radius: 50%;
}

.header {
  color: white;
  font-size: 3rem;
  font-family: "Varela Round", sans-serif;
}

@media (max-width: 600px) {
  .section-grid.homepage {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}
